## Introduction
<p><img src="https://assets.datacamp.com/production/project_981/img/lego_unsplash.jpg" alt="A picture of Lego characters!"></p>
<h3 id="letslookatlegosets">Let's look at Lego sets!</h3>
<p>Lego is a household name across the world, supported by a diverse toy line, hit movies, and a series of successful video games. In this project, we are going to explore a key development in the history of Lego: the introduction of licensed sets such as Star Wars, Super Heroes, and Harry Potter.</p>
<p>It may not be widely known, but Lego has had its share of ups and downs since its inception in the early 20th century. This includes a particularly rough period in the late 90s. As described in <a href="https://www.businessinsider.com/how-lego-made-a-huge-turnaround-2014-2?r=US&IR=T">this article</a>, Lego was only able to survive due to a successful internal brand (Bionicle) and the introduction of its first licensed series: Star Wars. In the instructions panel are the two questions you will need to answer to complete this project.</p>

### Task instructions:
You are a Data Analyst at Lego working with the Sales/Customer Success teams. The Account Executive responsible for the Star Wars partnership has asked for specific information in preparation for their meeting with the Star Wars team. Although Star Wars was critical to the survival of the brand, Lego has since introduced a wide variety of licensed sets over subsequent years.

Your two questions are as follows:

1. What percentage of all licensed sets ever released were Star Wars themed? Save your answer as a variable the_force in the form of an integer (e.g. 25).

2. In which year was Star Wars not the most popular licensed theme (in terms of number of sets released that year)? Save your answer as a variable new_era in the form of an integer (e.g. 2012).

The method through which you approach this question is up to you, but one thing to keep in mind is that the dataset is not necessarily clean, and may require the removal rows where there are values missing from critical columns.

In [1]:
# Use this cell to begin your analyses, and add as many cells as you would like!
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/lego-analysis/master/datasets/lego_sets.csv')
parent_theme = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/lego-analysis/master/datasets/parent_themes.csv')

In [2]:
df.head()

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

In [3]:
parent_theme.head()

    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

In [6]:
# What percentage of all licensed sets ever released were 
# Star Wars themed? 
# Save your answer as a variable the_force 
# in the form of an integer (e.g. 25).

# join two differnt tables using merge syntax pandas
joined = df.merge(parent_theme, left_on = 'parent_theme', right_on = 'name')
#drop name_y and then re-make the merge table
joined.drop(columns = 'name_y', inplace=True)
joined.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,False

In [7]:
licensed = joined[joined['is_licensed']]
licensed.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
3493,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
3494,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3495,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,True
3496,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True
3497,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,True

In [8]:
star_wars = licensed[licensed['parent_theme']=='Star Wars']
star_wars.head(50)

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
3493,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
3494,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3495,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,True
3496,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True
3497,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,True
3498,10129-1,Rebel Snowspeeder - UCS,2003,1456.0,Star Wars Episode 4/5/6,Star Wars,158,True
3499,10131-1,TIE Fighter Collection,2004,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3500,10134-1,Y-wing Attack Starfighter - UCS,2004,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3501,10143-1,Death Star II,2005,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3502,10144-1,Sandcrawler,2005,1679.0,Star Wars Episode 4/5/6,Star Wars,158,True
3503,10174-1,Imperial AT-ST - UCS,2006,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3504,10175-1,Vader's TIE Advanced - UCS,2006,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3505,10178-1,Motorized Walking AT-AT,2007,1137.0,Star Wars Episode 4/5/6,Star Wars,158,True
3506,10179-1,Millennium Falcon - UCS,2007,5195.0,Star Wars Episode 4/5/6,Star Wars,158,True
3507,10186-1,General Grievous,2008,1084.0,Star Wars Episode 3,Star Wars,158,True
3508,10188-1,Death Star,2008,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3509,10195-1,Republic Dropship with AT-OT,2009,NaN,Star Wars Clone Wars,Star Wars,158,True
3510,10198-1,Tantive IV,2009,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3511,10212-1,Imperial Shuttle - UCS,2010,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3512,10215-1,Obi-Wan's Jedi Starfighter - UCS,2010,NaN,Star Wars Episode 2,Star Wars,158,True
3513,10221-1,Super Star Destroyer,2011,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3514,10225-1,R2-D2,2012,2130.0,Ultimate Collector Series,Star Wars,158,True
3515,10227-1,B-wing Starfighter,2012,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3516,10236-1,Ewok Village,2013,2023.0,Star Wars Episode 4/5/6,Star Wars,158,True
3517,10240-1,Red Five X-Wing Starfighter,2013,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3518,11912-1,LEGO Star Wars: Build Your Own Adventure,2016,NaN,Star Wars,Star Wars,158,True
3519,20006-1,Clone Turbo Tank - Mini,2008,64.0,Star Wars Episode 3,Star Wars,158,True
3520,20007-1,Republic Attack Cruiser - Mini,2009,NaN,Star Wars Episode 3,Star Wars,158,True
3521,20009-1,AT-TE Walker - Mini,2009,NaN,Star Wars Episode 2,Star Wars,158,True
3522,20010-1,Republic Gunship - Mini,2009,NaN,Star Wars Episode 2,Star Wars,158,True
3523,20016-1,Imperial Shuttle - Mini,2010,70.0,Star Wars Episode 4/5/6,Star Wars,158,True
3524,20018-1,AT-AT Walker - Mini,2010,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3525,20019-1,Slave I,2011,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3526,20021-1,Bounty Hunter Gunship - Mini,2011,81.0,Star Wars Clone Wars,Star Wars,158,True
3527,2853590-1,Stormtrooper,2009,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3528,2853835-1,White Boba Fett Figure,2010,NaN,Star Wars,Star Wars,158,True
3529,2856197-1,Shadow ARF Trooper,2011,NaN,Minifig Pack,Star Wars,158,True
3530,30004-1,Battle Droid on STAP,2009,NaN,Star Wars Clone Wars,Star Wars,158,True
3531,30005-1,Imperial Speeder Bike,2009,33.0,Star Wars Episode 4/5/6,Star Wars,158,True
3532,30006-1,Clone Walker,2009,31.0,Star Wars Clone Wars,Star Wars,158,True
3533,30050-1,Republic Attack Shuttle - Mini,2010,54.0,Star Wars Clone Wars,Star Wars,158,True
3534,30051-1,X-wing Fighter - Mini,2010,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3535,30052-1,AAT - Mini,2011,NaN,Star Wars Episode 2,Star Wars,158,True
3536,30053-1,Republic Attack Cruiser - Mini,2011,41.0,Star Wars Episode 3,Star Wars,158,True
3537,30054-1,AT-ST - Mini,2011,46.0,Star Wars Episode 4/5/6,Star Wars,158,True
3538,30055-1,Vulture Droid - Mini,2011,42.0,Star Wars Episode 3,Star Wars,158,True
3539,30056-1,Star Destroyer,2012,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3540,30057-1,Anakin's Pod Racer,2012,NaN,Star Wars Episode 1,Star Wars,158,True
3541,30058-1,STAP,2012,19.0,Star Wars,Star Wars,158,True
3542,30059-1,MTT,2012,51.0,Star Wars,Star Wars,158,True

In [12]:
star_wars.shape[0]

609

In [15]:
joined[joined['set_num'].isnull()].shape

(153, 8)

In [18]:
licensed = joined[joined['is_licensed']]
licensed = licensed.dropna(subset=['set_num'])
licensed.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
3493,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
3494,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3495,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,True
3496,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True
3497,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,True

In [19]:
the_force = int(star_wars.shape[0]/licensed.shape[0]*100)
print(the_force)

51

In [24]:
# In which year was Star Wars not the most popular licensed theme (in terms of number of sets released that year)? 
# Save your answer as a variable new_era in the form of an integer (e.g. 2012).
sort_lic = licensed.sort_values('year')
licensed['count'] = 1


df_sum = sort_lic.groupby(['year', 'parent_theme']).sum().reset_index()
df_sum.head()

   year           parent_theme  num_parts    id  is_licensed  count
0  1999              Star Wars     1384.0  2054           13     13
1  2000  Disney's Mickey Mouse      405.0  1940            5      5
2  2000              Star Wars     2580.0  4108           26     26
3  2001           Harry Potter     1284.0  2706           11     11
4  2001              Star Wars     2949.0  2212           14     14

In [27]:
max_df = df_sum.sort_values('count', ascending=False).drop_duplicates(['year'])
max_df.sort_values('year', inplace=True)
max_df

    year  parent_theme  num_parts     id  is_licensed  count
0   1999     Star Wars     1384.0   2054           13     13
2   2000     Star Wars     2580.0   4108           26     26
4   2001     Star Wars     2949.0   2212           14     14
6   2002     Star Wars     4735.0   4424           28     28
9   2003     Star Wars     6660.0   5056           32     32
12  2004     Star Wars     1659.0   3160           20     20
16  2005     Star Wars     4730.0   4424           28     28
20  2006     Star Wars     2769.0   1738           11     11
24  2007     Star Wars    11361.0   2528           16     16
28  2008     Star Wars     6865.0   3634           23     23
32  2009     Star Wars     3953.0   6162           39     39
36  2010     Star Wars     6003.0   4740           30     30
42  2011     Star Wars     3451.0   5056           32     32
47  2012     Star Wars     6769.0   6794           43     43
52  2013     Star Wars     6159.0   5530           35     35
59  2014     Star Wars     8293.0   7110           45     45
67  2015     Star Wars    11410.0   9164           58     58
76  2016     Star Wars     6934.0   9638           61     61
82  2017  Super Heroes    13123.0  34704           72     72

In [28]:
new_era = 2017